html,
body {
    /* height: 100%; */
}

body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f5f5f5;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

a {
    color: #29b6f6;
    text-decoration: none;
    background-color: transparent;
}

md-toolbar {
    background-color: #212121;
    color: hsla(0, 0%, 100%, .87);
}

md-toolbar .md-toolbar-tools {
    background-color: #212121;
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

md-toolbar .md-toolbar-tools a {
    color: inherit;
    text-decoration: none;
}

md-toolbar .md-toolbar-tools .toolbar-link {
    display: block;
    margin: 0 8px;
}

md-toolbar .md-toolbar-tools .toolbar-link span {
    color: #fff;
}

md-toolbar .md-toolbar-tools .toolbar-button {
    display: none;
}

@media only screen and (max-width: 599px) {
    md-toolbar .md-toolbar-tools .toolbar-link {
        display: none;
    }

    md-toolbar .md-toolbar-tools .toolbar-button {
        display: block;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.area-peta-container {
    width: 100%;
    height: 100%;
}

.area-peta-container #map {
    min-height: calc(100% - 64px);
}

.flex,
.flex-grow {
    -webkit-box-flex: 1;
    box-sizing: border-box;
}

.flex {
    flex: 1;
}

#infoBoxPositif,
#infoBoxSembuh,
#infoBoxMeninggal,
#infoBoxUpdate,
#infoBoxCreator {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    text-align: center;
}

#infoBoxPositifText,
#infoBoxSembuhText,
#infoBoxMeninggalText,
#infoBoxUpdateText,
#infoBoxCreatorText {
    color: rgb(25, 25, 25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

#infoBoxSembuh {
    margin: 0 12px;
}

#infoBoxCreator {
    margin-left: 12px;
}

.unavailable {
    height: 0;
    width: 0;
    display: none !important;
}

.switch,
.switch * {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.switch label {
    cursor: pointer;
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #a7ceec;
}

.switch label input[type=checkbox]:checked+.lever:before,
.switch label input[type=checkbox]:checked+.lever:after {
    left: 18px;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #03a9f4;
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: #9e9e9e;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label .lever:before,
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
}

.switch label .lever:before {
    background-color: rgba(33, 150, 243, 0.15);
}

.switch label .lever:after {
    background-color: #F1F1F1;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
    transform: scale(2.4);
    background-color: rgba(33, 150, 243, 0.15);
}

input[type=checkbox]:not(:disabled)~.lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus~.lever::before {
    transform: scale(2.4);
    background-color: rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox][disabled]+.lever {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.12);
}

.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: #949494;
}